<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Farmacia IBM</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">

</head>
<body>
<div name="with" class="container-fluid row col-8">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pharmacy: ${pharmacyList}" th:if="${pharmacy.category == 'fara reteta'}">
            <td th:text="${pharmacy.name}"/>
            <td th:text="${pharmacy.price}"/>
            <td th:text="${pharmacy.category}"/>
        </tr>
        </tbody>
    </table>
</div>
<br>
<div name="without" class="container-fluid row col-8">
    <table class="table table-striped table-bordered">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Category</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pharmacy: ${pharmacyList}" th:if="${pharmacy.category == 'cu reteta'}">
            <td th:text="${pharmacy.name}"/>
            <td th:text="${pharmacy.price}"/>
            <td th:text="${pharmacy.category}"/>
        </tr>
        </tbody>
    </table>
</div>

</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>