<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pharmacy</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div class="container-fluid row col-8">
    <table class="table table-striped table-bordered">
        <thread>
           <tr>

               <th scope="col">Code</th>
               <th scope="col">Name</th>

           </tr>
        </thread>
        <tbody>
        <tr th:each="pharmacy: ${pharmacyList}">
            <td th:text="${pharmacy.name}"/>.

        </tr>
        </tbody>
    </table>
</div>

</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>