<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pill</title>
    <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}" type="text/css">
</head>
<body>
<div>
    <div class="container-fluid row col-8">

        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Stock</th>
                <th scope="col">Description</th>
                <th scope="col">Pharmacy name</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pill:${pillList}">
                <td th:text="${pill.id}"/>
                <td th:text="${pill.name}"/>
                <td th:text="${pill.price}"/>
                <td th:text="${pill.stockNumber}"/>
                <td th:text="${pill.description}"/>
                <td th:text="${pill.pharmacy.name}"/>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"/>

</html>